<a href="https://colab.research.google.com/github/rishimish/Coursera_Capstone/blob/master/Capstone_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Capstone Project Notebook**

In [1]:
# import the library we use to open URLs

import urllib.request

In [2]:
# specify which URL/web page we are going to be scraping

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
# open the url using urllib.request and put the HTML into the page variable

page = urllib.request.urlopen(url)

In [4]:
# import the BeautifulSoup library so we can parse HTML and XML documents

from bs4 import BeautifulSoup

In [5]:
# parse the HTML from our URL into the BeautifulSoup parse tree format

soup = BeautifulSoup(page, "lxml")

In [ ]:
#to look at the HTML underlying our chosen web page

print(soup.prettify())

In [ ]:
# use the 'find_all' function to bring back all instances of the 'table' tag in the HTML and store in 'all_tables' variable

all_tables=soup.find_all("table")

all_tables

In [ ]:
right_table=soup.find('table', class_='wikitable sortable')

right_table

In [11]:
A=[]

B=[]

C=[]



for row in right_table.findAll('tr'):

    cells=row.findAll('td')

    if len(cells)==3:

        A.append(cells[0].find(text=True))

        B.append(cells[1].find(text=True))

        C.append(cells[2].find(text=True))

In [12]:
import pandas as pd

df=pd.DataFrame(A,columns=['Postal Code'])

df['Borough']=B

df['Neighbourhood']=C

df

    Postal Code  ...                                      Neighbourhood
0         M1A\n  ...                                     Not assigned\n
1         M2A\n  ...                                     Not assigned\n
2         M3A\n  ...                                        Parkwoods\n
3         M4A\n  ...                                 Victoria Village\n
4         M5A\n  ...                        Regent Park, Harbourfront\n
..          ...  ...                                                ...
175       M5Z\n  ...                                     Not assigned\n
176       M6Z\n  ...                                     Not assigned\n
177       M7Z\n  ...                                     Not assigned\n
178       M8Z\n  ...  Mimico NW, The Queensway West, South of Bloor,...
179       M9Z\n  ...                                     Not assigned\n

[180 rows x 3 columns]

In [20]:
#for replacing \n
df = df.replace(r'\n',  ' ', regex=True)

In [22]:
df.head()

  Postal Code            Borough               Neighbourhood
0        M1A       Not assigned                Not assigned
1        M2A       Not assigned                Not assigned
2        M3A         North York                   Parkwoods
3        M4A         North York            Victoria Village
4        M5A   Downtown Toronto   Regent Park, Harbourfront

In [30]:
#removing cells with borough not assigned

df = df[~df.Borough.str.contains("Not assigned")]

In [31]:
df.head()

  Postal Code            Borough                                 Neighbourhood
2        M3A         North York                                     Parkwoods
3        M4A         North York                              Victoria Village
4        M5A   Downtown Toronto                     Regent Park, Harbourfront
5        M6A         North York              Lawrence Manor, Lawrence Heights
6        M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

In [40]:
#for checking same postal code in multiple rows
df['Postal Code'].value_counts()

M4V     1
M1E     1
M4L     1
M5T     1
M6K     1
       ..
M3M     1
M1G     1
M3K     1
M2M     1
M7R     1
Name: Postal Code, Length: 103, dtype: int64

In [43]:
#for checking neighbouhood with not assigned

df[df['Neighbourhood']=="Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [45]:
#for shape of the dataframe

df.shape

(103, 3)