<a href="https://colab.research.google.com/github/rishimish/Coursera_Capstone/blob/master/Segmenting%20and%20Clustering%20Neighborhoods%20in%20Toronto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Capstone Project Notebook**

# Web scraping and Datafarame creation

In [22]:
# import the library we use to open URLs

import urllib.request

In [23]:
# specify which URL/web page we are going to be scraping

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [24]:
# open the url using urllib.request and put the HTML into the page variable

page = urllib.request.urlopen(url)

In [25]:
# import the BeautifulSoup library so we can parse HTML and XML documents

from bs4 import BeautifulSoup

In [26]:
# parse the HTML from our URL into the BeautifulSoup parse tree format

soup = BeautifulSoup(page, "lxml")

In [ ]:
#to look at the HTML underlying our chosen web page

print(soup.prettify())

In [ ]:
# use the 'find_all' function to bring back all instances of the 'table' tag in the HTML and store in 'all_tables' variable

all_tables=soup.find_all("table")

all_tables

In [ ]:
right_table=soup.find('table', class_='wikitable sortable')

right_table

In [30]:
A=[]

B=[]

C=[]



for row in right_table.findAll('tr'):

    cells=row.findAll('td')

    if len(cells)==3:

        A.append(cells[0].find(text=True))

        B.append(cells[1].find(text=True))

        C.append(cells[2].find(text=True))

In [49]:
import pandas as pd

df=pd.DataFrame(A,columns=['Postal Code'])

df['Borough']=B

df['Neighbourhood']=C

df.head()

  Postal Code             Borough                Neighbourhood
0       M1A\n      Not assigned\n               Not assigned\n
1       M2A\n      Not assigned\n               Not assigned\n
2       M3A\n        North York\n                  Parkwoods\n
3       M4A\n        North York\n           Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [32]:
#for replacing \n
df = df.replace(r'\n',  ' ', regex=True)

In [33]:
df.head()

  Postal Code            Borough               Neighbourhood
0        M1A       Not assigned                Not assigned
1        M2A       Not assigned                Not assigned
2        M3A         North York                   Parkwoods
3        M4A         North York            Victoria Village
4        M5A   Downtown Toronto   Regent Park, Harbourfront

In [41]:
#Groupin Neighborhood based on same PostalCode
df = df.groupby('Postal Code',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df.head()

  Postal Code       Borough                            Neighbourhood
0        M1B   Scarborough                           Malvern, Rouge
1        M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2        M1E   Scarborough        Guildwood, Morningside, West Hill
3        M1G   Scarborough                                   Woburn
4        M1H   Scarborough                                Cedarbrae

In [42]:
#removing cells with borough not assigned

df = df[~df.Borough.str.contains("Not assigned")]

In [43]:
df.head()

  Postal Code       Borough                            Neighbourhood
0        M1B   Scarborough                           Malvern, Rouge
1        M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2        M1E   Scarborough        Guildwood, Morningside, West Hill
3        M1G   Scarborough                                   Woburn
4        M1H   Scarborough                                Cedarbrae

In [44]:
#for checking same postal code in multiple rows
df['Postal Code'].value_counts()

M5X     1
M6B     1
M7R     1
M4B     1
M2M     1
       ..
M1P     1
M1B     1
M5J     1
M3K     1
M5G     1
Name: Postal Code, Length: 103, dtype: int64

In [45]:
#for checking neighbouhood with not assigned

df[df['Neighbourhood']=="Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [46]:
#for shape of the dataframe

df.shape

(103, 3)