<a href="https://colab.research.google.com/github/rishimish/Coursera_Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [45]:
#from last section toronto df
toronto = pd.read_csv("/content/toronto.csv")
toronto.head()

  Postal Code       Borough                            Neighbourhood
0        M1B   Scarborough                           Malvern, Rouge
1        M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2        M1E   Scarborough        Guildwood, Morningside, West Hill
3        M1G   Scarborough                                   Woburn
4        M1H   Scarborough                                Cedarbrae

In [40]:
geo = pd.read_csv("/content/Geospatial_Coordinates.csv")
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [41]:
geo.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [42]:
toronto.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
toronto.head()

  PostalCode       Borough                            Neighbourhood
0       M1B   Scarborough                           Malvern, Rouge
1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2       M1E   Scarborough        Guildwood, Morningside, West Hill
3       M1G   Scarborough                                   Woburn
4       M1H   Scarborough                                Cedarbrae

In [43]:
toronto_df = toronto.merge(geo, on = "PostalCode", how = "left")
toronto_df

    PostalCode       Borough  ... Latitude  Longitude
0         M1B   Scarborough   ...      NaN        NaN
1         M1C   Scarborough   ...      NaN        NaN
2         M1E   Scarborough   ...      NaN        NaN
3         M1G   Scarborough   ...      NaN        NaN
4         M1H   Scarborough   ...      NaN        NaN
..         ...           ...  ...      ...        ...
98        M9N          York   ...      NaN        NaN
99        M9P     Etobicoke   ...      NaN        NaN
100       M9R     Etobicoke   ...      NaN        NaN
101       M9V     Etobicoke   ...      NaN        NaN
102       M9W     Etobicoke   ...      NaN        NaN

[103 rows x 5 columns]

In [44]:
toronto_df.shape

(103, 5)